# Python 101
### Part 1

#### Topics to be done: 
control statements, loop structures, list, string, tuple, handling python interpreter, jupyter notebook, console, python data structures

### List, Tuple

In [2]:
m = [2,0,-4,5]
print(m[2])

-4

In [3]:
# define a dictionary
qw = {'a':1,'b':2,'c':4}
type(qw)

dict

In [4]:
n = (1,2,3,4,5)

In [5]:
type(m)

list

In [6]:
type(n)

tuple

In [7]:
range(len(m))

range(0, 4)

In [8]:
type(range(len(m)))

range

In [9]:
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
zx = '12'
print(type(zx))
s=int(zx) # typecasting
type(s)

<class 'str'>

int

### checking of list and tuple are different

In [12]:
type(m) == type(n)

False

In [10]:
y = ['a','s','f']

In [12]:
print(m)

[1, 2, 3, 4, 5]

In [16]:
m[0] ## list item reading

1

In [17]:
n

(1, 2, 3, 4, 5)

In [18]:
print(n)

(1, 2, 3, 4, 5)

In [19]:
n[3]

4

In [21]:
len(m)

5

In [23]:
m[0] = -1 ##list values can be changed

In [24]:
print(m)

[-1, 2, 3, 4, 5]

In [25]:
print(n)

(1, 2, 3, 4, 5)

In [26]:
n[0] = -1 # tuple values can't be changed

TypeError: 'tuple' object does not support item assignment

In [27]:
len(m)

5

In [28]:
range(len(m))

range(0, 5)

In [29]:
type(range(len(m)))

range

### typecasting

In [35]:
x = list(range(len(m)))

In [36]:
type(x)

list

In [5]:
m = [3,4,7,8,12]

In [41]:
for i in list(range(len(m))):
    print(m[i])

3
4
7
8
12

In [42]:
for items in m:
    print(items)

3
4
7
8
12

In [43]:
m

[3, 4, 7, 8, 12]

In [47]:
m[-0] == m[0]

True

In [59]:
d = []
for i in list(range(len(m))):
    print("i values: ", -i-1)
    print(m[-i-1])
    d.append(m[-i-1])
print(d)

i values:  -1
12
i values:  -2
8
i values:  -3
7
i values:  -4
4
i values:  -5
3
[12, 8, 7, 4, 3]

In [52]:
m

[3, 4, 7, 8, 12]

In [53]:
for k in m:
    if(k > 5):
        print(k)

7
8
12

In [54]:
m

[3, 4, 7, 8, 12]

In [55]:
y = list(range(len(m)))

In [56]:
y

[0, 1, 2, 3, 4]

In [1]:
x = ['a', 23, 'hello', 34.6]

In [2]:
print(x)

['a', 23, 'hello', 34.6]

In [3]:
m

NameError: name 'm' is not defined

In [6]:
print(m)

[3, 4, 7, 8, 12]

In [7]:
m[0] = -3

In [8]:
print(m)

[-3, 4, 7, 8, 12]

In [9]:
n = (1,2,3)

In [10]:
type(n)

tuple

In [11]:
n[0]

1

In [12]:
n[0] = 90

TypeError: 'tuple' object does not support item assignment

In [13]:
print(m)

[-3, 4, 7, 8, 12]

In [14]:
len(m)

5

In [15]:
# printing index
for i in list(range(len(m))):
    print(i)

0
1
2
3
4

In [16]:
# printing list items: index passing method
for i in list(range(len(m))):
    print(m[i])

-3
4
7
8
12

In [24]:
#print of list: data items directly
for items in m:
    print(items)
print('hello user')

-3
4
7
8
12
hello user

In [26]:
#if-else:

a = 450
b = 90
if a > b:
    print("A is bigger")
else:
    print("B is bigger")

A is bigger

In [27]:
for items in m:
    if items > 5:
        print(items)

7
8
12

In [28]:
for k in list(range(len(m))):
    if m[k] > 5:
        print(m[k])

7
8
12

In [34]:
for items in m:
    if items > 5:
        ''' this checking is for finding the bigger
        number '''
        items = items - 1
        #print(items)
    else:
        items = items + 1
        #print(items)
print(m)

[-3, 4, 7, 8, 12]

In [45]:
for k in list(range(len(m))):
    if m[k] > 5:
        m[k] = m[k] - 1
    else:
        m[k] = m[k] + 1
print(m)

[-2, 5, 6, 7, 11]

In [44]:
m = [-3, 4, 7, 8, 12]

In [38]:
print(m)

[-3, 4, 7, 8, 12]

In [58]:
w = [1,2,4,'hello']

In [59]:
print(w)

[1, 2, 4, 'hello']

In [60]:
v = (3,4,5,6,7)

In [61]:
type(v)

tuple

In [6]:
#boolean checks
type(w) == type(v)

False

In [63]:
w[2]==v[1]

True

In [78]:
a = [12, 13, 10, 11, 3.5, 23]
b = [8, 7, 10, 34, 3.5, 21]
if len(a)==len(b):
    for k in range(len(a)):
        print(a[k]==a[-k])

True
False
False
True
False
False

In [74]:
w[-2]

4

In [70]:
v

(3, 4, 5, 6, 7)

In [69]:
print(w)

[1, 2, 4, 'hello']

In [8]:
w[0] = -1

In [10]:
v[0]

3

In [11]:
print(v)

(3, 4, 5, 6, 7)

In [12]:
v[0] = -2

TypeError: 'tuple' object does not support item assignment

### lets, run a loop

In [13]:
for items in w:
    print(items)

-1
2
4
hello

In [14]:
len(w)

4

In [19]:
x = [1,2,3,4,5]
print(x)
for i in list(range(len(x))):
    #x[i] = x[i] + 1
    x[i] += 1
print(x)

[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]

In [20]:
print(x)

[2, 3, 4, 5, 6]

In [21]:
# reverse list print
for k in list(range(len(x))):
    print(x[-k-1])

6
5
4
3
2

### if there is 'if'...how the life will be..???!!

In [23]:
z = 9
d =80
if z > d :
    print("z is bigger..!!")
else:
    print("d is bigger..!!:)")

d is bigger..!!:)

In [24]:
r = [23.5, 76, 107, 45, 20.9, 49, 11, 15.7]
limit = 15

for items in r:
    if items > limit:
        print(items)

23.5
76
107
45
20.9
49
15.7

In [25]:
print(r)

[23.5, 76, 107, 45, 20.9, 49, 11, 15.7]

In [26]:
print(r)
for k in list(range(len(r))):
    if r[k] > limit:
        r[k] = r[k] - 1
print(r)

[23.5, 76, 107, 45, 20.9, 49, 11, 15.7]
[22.5, 75, 106, 44, 19.9, 48, 11, 14.7]

## String examples

In [26]:
testString = "string to test"

In [27]:
type(testString)

str

In [28]:
len(testString)

14

In [30]:
testString[2]

'r'

In [31]:
testString[0:4]

'stri'

In [32]:
testString[0:9:2]

'srn o'

In [15]:
testString[4]

'n'

In [3]:
testString = "welcome to python class"
even_char = []
# great explore..!! 
# tried & tested..!!
for j in list(range(len(testString))):
        if ((j!=0) and (j%2 ==0)):
            print(testString[j])
            even_char.append(testString[j])
print(even_char)

l
o
e
t

y
h
n
c
a
s
['l', 'o', 'e', 't', ' ', 'y', 'h', 'n', 'c', 'a', 's']

In [18]:
x = []

In [21]:
x.append(4)

In [22]:
print(x)

[2, 4]

In [45]:
testString = "welcome to python class" # declare string
even_char = [] #blank list declare

for j in list(range(len(testString))):
        if j!=0 and j%2 ==0:
            print(testString[j])
            if testString[j] == " ":
                even_char.append('@')
                
            else:
                even_char.append(testString[j])
print(even_char)

l
o
e
t

y
h
n
c
a
s
['l', 'o', 'e', 't', '@', 'y', 'h', 'n', 'c', 'a', 's']

In [46]:
 x = '1'

In [47]:
type(x)

str

In [48]:
x + 1

TypeError: can only concatenate str (not "int") to str

In [49]:
int(x)+1

2

In [50]:
char_num = ['23','34', '2', '5', '98', '11']

In [51]:
for items in char_num:
    if int(items) > 12:
        print(int(items)-1)
    else:
        print(int(items)+1)

22
33
3
6
97
12

In [52]:
print(char_num)

['23', '34', '2', '5', '98', '11']

In [55]:
print(char_num)
for k in list(range(len(char_num))):
    if int(char_num[k]) > 12:
        char_num[k] = int(char_num[k]) - 1
    else:
        char_num[k] = int(char_num[k]) + 1
print(char_num)

['23', '34', '2', '5', '98', '11']
[22, 33, 3, 6, 97, 12]

### Que: check 1st and last element of a list is same..!!
inputs should be mixed, int, float, char..anything

In [71]:
mixList = ['hello', 2.45, 'er', 'hey', 34, 'hllo']

In [57]:
len(mixList)

6

In [60]:
mixList[5]

89.65

In [72]:
if mixList[0] == mixList[len(mixList) - 1]:
    print("True")
else:
    print("False")

False

In [74]:
type(mixList[1]) == float

True

### Que: make a list of mix data type; if integer +1 if float -1
do it quick

In [75]:
mixList = ['hello', 2.45, 'er', 'hey', 34, 'hllo']
for items in mixList:
    if type(items)== int:
        print(items + 1)
    elif type(items) == float:
        print(items - 1)
    else:
        print(items)

hello
1.4500000000000002
er
hey
35
hllo

In [76]:
print(2/5)

0.4

### Q: take a list of int and floats, replace every number divided by average of the numbers

In [95]:
from __future__ import division

avg = 0
numList = [1,3.67, 4.5, 5.8, 45, 10, 34, 56]
print("Before: ", numList)

for items in numList:
    avg = avg + items
    
avg = avg/len(numList)

for k in list(range(len(numList))):
    
    numList[k] = numList[k]/avg
print("After: ", numList)

Before:  [1, 3.67, 4.5, 5.8, 45, 10, 34, 56]
After:  [0.050009376758142154, 0.1835344127023817, 0.2250421954116397, 0.2900543851972245, 2.250421954116397, 0.5000937675814215, 1.7003188097768331, 2.8005250984559606]

In [38]:
m =[1,2,4,5,6]
for i in list(range(len(m))):
    print(m[i], end=",")

1,2,4,5,6,

In [29]:
test_list = ['q', 'w', 23, 45, 78.5]
#print(len(test_list))
#range(len(test_list))
#list(range(len(test_list)))

for items in test_list:
    print(items)

for j in list(range(len(test_list))):
    print(test_list[j])

q
w
23
45
78.5
q
w
23
45
78.5

In [36]:
# take a list containing integers and float values. set a limit;
# take a limit above which the elements of the list will be printed
# increase elements by 1 above the limit else reduce by 1;

q = [23.5, 45, 1, 9, 94.5, -34, 84.1]
limit = 33
print(q)

for i in list(range(len(q))):
    if q[i] > limit:
        q[i] = q[i] - 1
    else:
        q[i] = q[i] + 1

print(q)

[23.5, 45, 1, 9, 94.5, -34, 84.1]
[24.5, 44, 2, 10, 93.5, -33, 83.1]

In [40]:
m = [12, 'er', 'yahoo', 23.6, 'er456', 'hgjhfjh', 23.56, 13, 0, 0.45, -578, 'i am human']
for i in list(range(len(m))):
    if (i !=0 and i%2==0):
        print(m[i])

yahoo
er456
23.56
0
-578

In [44]:
ed = 'hello world'
ed[5]
t=[]
t.append(9)
print(t)

[9]

In [47]:
test_string = "hi guys, I am Arunabha"
char_list = []

for k in list(range(len(test_string))):
    if test_string[k] == " ":
        char_list.append('@')
        
    else:
        char_list.append(test_string[k])
        
print(char_list)

['h', 'i', '@', 'g', 'u', 'y', 's', ',', '@', 'I', '@', 'a', 'm', '@', 'A', 'r', 'u', 'n', 'a', 'b', 'h', 'a']

### data type

here there no predefined datatypes; data types defined in runtime

In [1]:
n = 3

In [2]:
m = 9.3

In [3]:
v = 'cat'

In [5]:
type(m)

float

In [13]:
newList = [1,2.3,4]

In [14]:
print(newList[2])

4

In [15]:
newList = [1,2,3,['w','a', 5.6, [12, 13, 14]]]

In [16]:
print(newList)

[1, 2, 3, ['w', 'a', 5.6, [12, 13, 14]]]

In [17]:
print(newList[3])

['w', 'a', 5.6, [12, 13, 14]]

In [12]:
print(newList[3][0][1])

IndexError: string index out of range

In [20]:
print(newList[3][3][0])

12

In [21]:
mytuple = (23,45, 'erd')

In [23]:
print(mytuple[2])

erd

In [25]:
newList.append(100)

In [26]:
print(newList)

[1, 2, 3, ['w', 'a', 5.6, [12, 13, 14]], 100]

In [27]:
len(newList)

5

In [28]:
range(newList)

TypeError: 'list' object cannot be interpreted as an integer

In [32]:
r = range(3)
type(r)

range

In [34]:
list(range(len(newList)))

[0, 1, 2, 3, 4]

In [37]:
for items in newList:
    print(items)
print('hello')

1
2
3
['w', 'a', 5.6, [12, 13, 14]]
100
hello

In [40]:
for i in list(range(len(newList))):
    #print('index: ', i)
    print(newList[i])

1
2
3
['w', 'a', 5.6, [12, 13, 14]]
100

### if-else

In [42]:
x = 9
y = 5

x,y = y, x

if x  > y:
    print('x bigger than y')
else:
    print('y bigger than x')

y bigger than x

In [46]:
testList = [23,45, 12, 20, 11, 112]

In [45]:
for i in range(len(newList)):
    print(newList[i])

1
2
3
['w', 'a', 5.6, [12, 13, 14]]
100

In [49]:
for k in range(len(testList)):
    if testList[k] > 20:
        print('ok')

ok
ok
ok

In [50]:
for items in testList:
    if items > 20:
        print(items)

23
45
112

In [51]:
for items in testList:
    if items > 20:
        print(items - 1)
    else:
        print(items + 1)

22
44
13
21
12
111

In [52]:
print(testList)

[23, 45, 12, 20, 11, 112]

In [53]:
bList = []
for items in testList:
    if items > 20:
        bList.append(items - 1)
        
    else:
        bList.append(items + 1)

In [54]:
print(bList)

[22, 44, 13, 21, 12, 111]

In [57]:
bList = tuple(testList)
for i in list(range(len(testList))):
    if testList[i] > 20:
        testList[i] = testList[i] - 1
    else:
        testList[i] = testList[i] + 1

In [56]:
type(bList)

tuple

In [86]:
for i in range(5, 0, -2):
    print(i)

5
3
1

In [83]:
w

[1, 2, 4, 'hello']

# Recap: FOR LOOP

In [1]:
listX = [1,2,'eat', 'he465', 67.4, 's']

In [3]:
print(len(listX))

6

In [4]:
range(listX) # it workds in python 2.X

TypeError: 'list' object cannot be interpreted as an integer

In [5]:
range(len(listX)) # works oin python 3.x

range(0, 6)

In [6]:
for i in range(len(listX)):
    print(listX[i])

1
2
eat
he465
67.4
s

In [9]:
for i in range(listX):
    print(listX[i])

TypeError: 'list' object cannot be interpreted as an integer

In [10]:
for items in listX:
    print(items)

1
2
eat
he465
67.4
s

# vowel-consonant count

In [23]:
string = 'uiuvnvcejvnknsmxykjfaaabccndvfjdkfkmcm'

vowel = 0
consonant = 0

vList = ['a','e','i','o', 'u']

for letter in string:
    if letter in vList:
        vowel +=1
    else:
        consonant +=1

print(vowel)
print(consonant)

7
31

In [25]:
string.islower()

True

In [ ]:
num = [23.4, 45, 58, 100, 12]
th = 30