# Python List

In [4]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
num = [12, 89.3, -98, 101, 0.002]

In [94]:
print(names)

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

### python list sorting

In [123]:
# list sorting: inplace method
c = names.sort()

In [124]:
print(c)

[None]

In [98]:
print(names)

['Andrew', 'Danny', 'Harsh', 'John', 'Max']

In [8]:
print(c)

None

In [9]:
num.sort()

In [10]:
num

[-98, 0.002, 12, 89.3, 101]

In [107]:
anyList = [1, 45, 0.2, 'hello', 's']
anyList.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [110]:
mixList = [1,4, '23', 20, '5.2']
newList = []

for items in mixList:
    if type(items)=='str':
        t = float(items)
        newList.append(t)
        print(t)
    else:
        newList.append(items)

print(newList)

[1, 4, '23', 20, '5.2']

In [101]:
x = '100'
float(x)

100.0

### list reverse

In [115]:
num = [12, 89.3, -98, 101, 0.002]
print(num)

[12, 89.3, -98, 101, 0.002]

In [118]:
num.sort(reverse=True)

In [119]:
num

[101, 89.3, 12, 0.002, -98]

In [125]:
num.reverse()

In [126]:
num

[0.002, 101, -98, 89.3, 12]

### sorted() function

Q. what if we don't want to sort the actual list, rtahe rjust to print it in sorted manner??

In [127]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
num = [12, 89.3, -98, 101, 0.002]

In [128]:
print(sorted(num))

[-98, 0.002, 12, 89.3, 101]

In [129]:
print(num)

[12, 89.3, -98, 101, 0.002]

In [131]:
print(sorted(names))
print(names)

['Andrew', 'Danny', 'Harsh', 'John', 'Max']
['Harsh', 'Andrew', 'Danny', 'John', 'Max']

### list index

In [18]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
num = [12, 89.3, -98, 101, 0.002]

In [133]:
print(names.index('Andrew'))

1

In [23]:
print(num.index(101))

3

In [139]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
key = 'douglas'

if key not in names:
    names.append(key)
print(names)

['Harsh', 'Andrew', 'Danny', 'John', 'Max', 'douglas']

In [141]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
cp = []
for items in names:
    cp.append(items)
print(cp)

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

In [146]:
cp2 = [ item for item in names] # python style
print(cp2)

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

### list copy

In [24]:
names = ['Harsh', 'Andrew', 'Danny', 'John', 'Max']
num = [12, 89.3, -98, 101, 0.002]

In [25]:
copyList = names[:]
print(copyList)

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

In [77]:
copyNames = names.copy()
print(copyNames)

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

### add some element in the end

In [28]:
num.append(20)
print(num)

[12, 89.3, -98, 101, 0.002, 20, 20]

### delete some element

In [31]:
del num[5]

In [148]:
x = [1,2,3]
del x
print(x)

NameError: name 'x' is not defined

In [176]:
# study this code and understand
m = [1,4,5,62, 32, 9, 8, 14, 28, 100]
for item in m:
    if item%2 == 0:
        m.remove(item)
print(m)

[1, 5, 32, 9, 14, 100]

In [175]:
# home work to fix the code 
m = [1,4,5,62, 32, 9, 8, 13]
for k in list(range(len(m))):
    if m[k]%2 != 0:
        del m[k]
        #print(m)

[4, 5, 62, 32, 9, 8, 13]
[4, 62, 32, 9, 8, 13]
[4, 62, 32, 8, 13]
[4, 62, 32, 8]

IndexError: list index out of range

num

In [32]:
print(num)

[12, 89.3, -98, 101, 0.002, 20]

In [158]:
x = [2,3.4,'hello', 23, 45, 90, 345, 56.3]
y = [2,3.4,'hello', 56]

In [159]:
print(x)

[2, 3.4, 'hello', 23, 45, 90, 345, 56.3]

In [160]:
del x[1:4] # strating from the mentioned indec elete upto the mentioned element
print(x)

[2, 45, 90, 345, 56.3]

In [37]:
y = []

In [38]:
print(y)

[]

In [40]:
print(x)

[2, 3.4, 'hello', 56]

In [41]:
x *= 0 # fastest menthod

In [42]:
print(x)

[]

In [43]:
y

[2, 3.4, 'hello', 56]

In [44]:
y[:] = []

In [45]:
print(y)

[]

In [46]:
x = [2,3.4,'hello', 56]

In [47]:
x.clear()

In [48]:
print(x)

[]

### printing from desired range

In [183]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [180]:
fruits[:4]

['apple', 'banana', 'cherry', 'orange']

In [181]:
fruits[-4:]

['orange', 'kiwi', 'melon', 'mango']

In [191]:
fruits[-1:5]

[]

### check items in list

In [58]:
if 'mango' in fruits:
    print('yeah, got it..!!')
else:
    print("sorry..!!")

yeah, got it..!!

### insert element in desired index

In [192]:
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [193]:
fruits.insert(1, 'tomato')

In [194]:
fruits

['apple', 'tomato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [62]:
fruits.remove('tomato')

In [195]:
fruits.insert(2,'tomato')
fruits.append('tomato')

In [196]:
print(fruits)

['apple', 'tomato', 'tomato', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'tomato']

In [199]:
fruits.remove('tomato')

In [200]:
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'tomato']

In [69]:
fruits.remove('tomato')

In [70]:
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### list pop()

In [205]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [206]:
fruits.pop()

'mango'

In [207]:
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [74]:
fruits.pop(2)

'cherry'

In [75]:
fruits

['apple', 'banana', 'orange', 'kiwi', 'melon']

In [216]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'cherry']

for items in fruits:
    if items == 'cherry':
#        fruits.pop('cherry')
        fruits.pop(fruits.index('cherry'))

print(fruits)

['apple', 'banana', 'orange', 'kiwi', 'melon', 'mango']

### join lists

In [78]:
names

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

In [79]:
fruits

['apple', 'banana', 'orange', 'kiwi', 'melon']

In [80]:
combo = names + fruits

In [81]:
print(combo)

['Harsh', 'Andrew', 'Danny', 'John', 'Max', 'apple', 'banana', 'orange', 'kiwi', 'melon']

In [82]:
v = names.copy()

In [83]:
v

['Harsh', 'Andrew', 'Danny', 'John', 'Max']

In [84]:
v.extend(fruits)

In [85]:
v

['Harsh',
 'Andrew',
 'Danny',
 'John',
 'Max',
 'apple',
 'banana',
 'orange',
 'kiwi',
 'melon']

### list sum function

In [87]:
print(num)

[12, 89.3, -98, 101, 0.002, 20]

In [90]:
list_sum = sum(num)
print(list_sum)

124.30199999999999

### Python Remove Duplicates from the List

In [217]:
# task : try with list comprehesnsion

dup = [1,2,4,1,5,2,9,45,1]
ulist = []
for items in dup:
    if items not in ulist:
        ulist.append(items)
print(ulist)

[1, 2, 4, 5, 9, 45]

###  List Comprehension

In [92]:
sqr = []
for val in range(1,51):
    s = val**2
    sqr.append(s)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [93]:
sqr = [val**2 for val in range(1,51)]
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [108]:
f = [ 1,2,4]
d = [k for k in f]

In [109]:
d

[1, 2, 4]

In [3]:
Numbers = []

while True:
    number = float(input("Please enter a number:"))
    if number == -1:
        break
    Numbers.append(number)

print(Numbers)

Please enter a number:9402840293
Please enter a number:8598493
Please enter a number:90.4354
Please enter a number:-1
[9402840293.0, 8598493.0, 90.4354]